@import '../../../assets/styles/variable';
@import '../../../assets/styles/mixin';

.Wrapper {
    padding:  12px;
    box-sizing: border-box;
    text-align: left;
    @include background-gradient(rgba($v-plum, .2), rgba($v-plum, .05));
    @include border-radius(border-radius, 16px);
    .Title {
        font-weight: 500;
        margin-bottom: 8px; 
        span {
            font-weight: 300;
        }
    }
    .Content {
        display: flex;
        .Item {
            // flex: 1;
            color: $v-white-dark;
            margin-right: 10px;
            @include dosis-font-family();
            .Icon {
                width: 61px;
                height: 61px;
                background: $v-purple-dark;
                border: 1px solid rgba($v-plum-light-1, .5);
                box-shadow: 0 2px 4px 0 rgba(122, 76, 164, 0.3);
                @include border-radius(border-radius, 8px);
                display: flex;
                align-items: flex-end;
            }
            .Label {
                margin-top: 8px;
                font-size: 1.4rem;
                text-shadow: 0 0 6px $v-plum-light-1;
            }
            .Age {
                font-size: 1.3rem;
                color: $v-plum-light-1;
            }
            .Time {
                color: $v-plum-dark;
                font-size: 1.2rem;
            }
        }
        .Item:last-child {
            margin-right: 0px;
        }
    }
}