/* 
##########################
VARIABLE LIBRARY
Style Sheet for Nodeflux
version: 1.0
author: I Made Widhyarmawan
email: widhyarmawan20@gmail.com
##########################*/

/* 
##########################
# Container
##########################*/
$v-container-1 : 1080px;
$v-container-2 : 960px;
$v-container-3 : 764px;
$v-min-width   : 1128px;

/* 
##########################
# Color
##########################*/
$v-indigo-dark  : #090018;
$v-indigo       : #1d0b47;
$v-indigo-light : #201144;



$v-purple-dark-1  : #270a52;
$v-purple-dark    : #320e61;
$v-purple         : #44137c;
$v-purple-light   : #4b1585;
$v-purple-light-1 : #7242d9;

$v-plum-dark-1    : #8b0acd;
$v-plum-dark      : #9667ca;
$v-plum           : #bc8cfb;
$v-plum-light     : #c493ff;
$v-plum-light-1   : #c8a6ff;

$v-white-dark     : #e0c8ff;
$v-white          : #f7f1ff;
$v-white-light    : #ffffff;