@import '../../assets/styles/mixin';
@import '../../assets/styles/variable';

.Wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    .ImgBg {
        position: absolute;
        display: block;
        top: -150px;
        left: 0;
        width: 100%;
        z-index: 0;
    }
    .Content {
        position: relative;
        text-align: center;
        .Info {
            margin-top: 80px;
            display: flex;
            border-left: 1px solid $v-purple;
            padding-left: 24px;
            min-height: 300px;
            .ImgWrap {
                width: 304px;
                height: 350px;
                overflow: hidden;
                position: relative;
                @include border-radius(border-radius, 8px);
                .ImgContent {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    height: 120%;
                    width: auto;
                    @include transition(height .2s);
                    @include transform(translate(-50%,-50%));
                }
            }
            .Text {
                margin-left: 24px;
                text-align: left;
                flex: 1;
                .Title {
                    color: $v-plum;
                    display: inline-flex;
                    padding-bottom: 30px;
                    border-bottom: 3px solid $v-plum-light-1;
                    font-size: 4.4rem;
                    font-weight: 500;
                    margin-bottom: 30px;
                    text-shadow: 0 0 6px $v-plum-light;
                }
                .Desc {
                    line-height: 2em;
                    margin-bottom: 30px;
                }
            }
            .Nav {
                position: absolute;
                left: -233px;
                margin: 0;
                padding: 0;
                .NavItem {
                    list-style: none;
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    padding: 24px 0;
                    cursor: pointer;
                    .Label {
                        color: $v-plum-light-1;
                        opacity: .7;
                        @include transition( all .2s);
                    }
                    .Dot {
                        position: relative;
                        margin-left: 15px;
                        width: 13px;
                        background: $v-purple-light;
                        height: 13px;
                        @include transition( all .3s);
                        @include border-radius(border-radius, 50%);
                    }
                    .Dot::before {
                        position: absolute;
                        border: 1px solid $v-purple-light;
                        @include border-radius(border-radius, 50%);
                        content: '';
                        width: 17px;
                        height: 17px;
                        top: -3px;
                        left: -3px;
                        @include transition( all .3s);

                    }
                    &.Active {
                        .Label {
                            color: $v-white;
                            text-shadow: 0 0 6px $v-plum-light-1;
                        }
                        .Dot {
                            background: $v-plum-dark;
                        }
                        .Dot::before {
                            border: 1px solid $v-plum-dark;
                        }
                    }
                }
                .NavItem:hover {
                    .Label {
                        color: $v-white;
                        text-shadow: 0 0 6px $v-plum-light-1;
                    }
                    .Dot {
                        background: $v-plum-dark;
                    }
                    .Dot::before {
                        border: 1px solid $v-plum-dark;
                    }
                }
            }
        }
    }
}